//- Data to be rendered in the email template
//- + recipientName: Name of the recipient
//- + recipientType: Type of the recipient (e.g., 'target_student', 'group_leader')
//- + actionType: Type of action ('assigned', 'removed', 'left')
//- + groupName: Name of the group
//- + groupCode: Code of the group
//- + semesterName: Name of the semester
//- + targetStudentName: Name of the student involved in the action
//- + targetStudentCode: Code of the student involved in the action
//- + currentGroupSize: Current size of the group
//- + changeDate: Date of the change
//- + groupLeaderName: Name of the group leader (if applicable)

extends layouts/email-layout

block content
  .greeting
    | Hello #[strong #{recipientName}],

  p We're writing to inform you about an important update regarding your group membership in TheSync system.

  .info-box
    if actionType === 'assigned'
      h3 👥 New Member Added to Group
      p A new member has been assigned to your group by a moderator.
    else if actionType === 'removed'
      h3 👥 Member Removed from Group
      p A member has been removed from your group.
    else if actionType === 'left'
      h3 👋 Member Left Group
      p A member has decided to leave your group.

    .info-item
      .info-label Group:
      .info-value #{groupName} (#{groupCode})

    .info-item
      .info-label Semester:
      .info-value #{semesterName}

    if actionType === 'assigned'
      .info-item
        .info-label New Member:
        .info-value #{targetStudentName} (#{targetStudentCode})
    else if actionType === 'removed'
      .info-item
        .info-label Removed Member:
        .info-value #{targetStudentName} (#{targetStudentCode})
    else if actionType === 'left'
      .info-item
        .info-label Student Who Left:
        .info-value #{targetStudentName} (#{targetStudentCode})

    .info-item
      .info-label Group Size:
      .info-value #{currentGroupSize} member(s)

    .info-item
      .info-label Date:
      .info-value #{changeDate}

  if actionType === 'assigned'
    if recipientType === 'target_student'
      .success-box
        strong 🎉 Welcome to the Group!
        br
        | You have been assigned to group "#[strong #{groupName}]" by a moderator. Please coordinate with your group leader and team members to get started on your project.
        .info-item
          .info-label Group Leader:
          .info-value #{groupLeaderName}
    else
      .info-box
        strong 📢 Group Update
        br
        | #[strong #{targetStudentName}] has been assigned to your group "#[strong #{groupName}]" by a moderator. Please welcome them to the team and help them get up to speed with your project.

  else if actionType === 'removed'
    if recipientType === 'target_student'
      .info-box
        strong ℹ️ Group Membership Update
        br
        | You have been removed from group "#[strong #{groupName}]". If you have any questions about this change, please contact your instructor or the system moderator.
    else
      .info-box
        strong 📢 Group Update
        br
        | #[strong #{targetStudentName}] has been removed from your group "#[strong #{groupName}]". Please adjust your project plans accordingly.

  else if actionType === 'left'
    if recipientType === 'target_student'
      .success-box
        strong ✅ Successfully Left Group
        br
        | You have successfully left group "#[strong #{groupName}]". Your participation has been removed from the system and you are now available to join or create a new group during the current semester's preparation phase.
    else if recipientType === 'group_leader'
      .warning-box
        strong 👨‍💼 Leader Notification
        br
        | As the group leader, please note that #[strong #{targetStudentName}] has left your group "#[strong #{groupName}]". You may want to consider recruiting new members or adjusting your group's project scope accordingly.
    else
      .info-box
        strong 📢 Group Update
        br
        | Your group member #[strong #{targetStudentName}] has decided to leave group "#[strong #{groupName}]". The group will continue with the remaining members.
