//- Data to be rendered in the email template
//- + lecturerName: The name of the lecturer receiving the notification
//- + submissions: An array of submission objects, each containing:

extends layouts/email-layout

block content
  .greeting
    | Dear #{lecturerName},

  p You have been assigned as a reviewer for the following submission(s):

  if submissions && submissions.length > 0
    each submission in submissions
      .info-box
        h3 ðŸ“ Submission Details
        .info-item
          span.info-label Group:
          span.info-value #{submission.groupName} (#{submission.groupCode})
        .info-item
          span.info-label Milestone:
          span.info-value #{submission.milestoneName}
        .info-item
          span.info-label Submitted At:
          span.info-value #{submission.submittedAt}
        if submission.documents && submission.documents.length > 0
          .info-item
            span.info-label Documents:
            ul.document-list
              each doc in submission.documents
                li #{doc}

  .success-box
    h3 ðŸ“‹ Next Steps
    p As the assigned reviewer, please:
    ul
      li Log in to the TheSync system
      li Review the submitted materials thoroughly
      li Provide constructive feedback to help students improve
      li Complete your review within the designated timeframe

  p If you have any questions about the review process, please contact the academic administration.
